<h1>Prueba de obtencion de datos de mi super proyecto de tesis</h1>
    <div>
        <% @symbols.Data.each do |t| %>
        <p>
            <%=t.first%>
        </p>
        <p>
            Y su id es
            <%=t.second.Id%>
        </p>
        <% end %>
        
    </div>
    <div>
        <p><%=@price.Data.Exchanges.count%></p>
        <%@price.Data.Exchanges.each do |t|%>
        <P>Mercado:<%=t.MARKET%></P>
        <P>Precio:<%=t.PRICE%></P>
        <P>Ultimo Volumen: <%=t.LASTVOLUME%></P>
        <P>Actualizacion: <%=t.LASTUPDATE%></P>
        <%end%>

    </div>

    <div>
        <p>Nombre de las exchanges a las que se tiene acceso</p>
        <% @exchanges.each do |t| %>
        <ul>
            <p> Nombre: <%= t.first %> </p>
            <p>Y tiene <%= t.second.length.to_i%> monedas</p>
            <%t.second.each do |u|%>
                <p><%=u.first.to_s%></p>   
            <%end%>
        </ul>
        <% end %>
    </div>